.contenedor{
    background-color: white;
    height: 500px;
    display:flex;
    border: 2px solid black;
    flex-direction: column;
    
}

.item1{
    text-align: center;
    background-color: red;
    width: 50%;
	font-size: 100px;
    width: 200px;
	height: 200px;
    margin-left: 1145px;
}

.item2{
    text-align: center;
    background-color: blue;
    width: 50%;
	font-size: 100px;
    width: 200px;
	height: 200px;
    margin-left: 1145px;
}

.item3{
    text-align: center;
background-color: green;
    width: 50%;
	font-size: 100px;
    width: 200px;
	height: 200px;
    margin-left: 1145px;
}